.bundle
.byebug_history
.env
.env.local
.log
tmp
storage
vendor/bundle
API-Only/tmp
API-Only/storage
API-Only/vendor/bundle
API-Only/log/*
!API-Only/log/.keep
node_modules
CMU-UI/node_modules
public/packs
public/assets
config/master.key
config/credentials.yml.enc
API-Only/config/master.key
API-Only/config/credentials.yml.enc
*.swp
*.swo
.DS_Store
