.bundle
.byebug_history
.env
.env.local
.log
tmp
storage
vendor/bundle
backWP/tmp
backWP/storage
backWP/vendor/bundle
backWP/log/*
!backWP/log/.keep
node_modules
frontWP/node_modules
public/packs
public/assets
config/master.key
config/credentials.yml.enc
backWP/config/master.key
backWP/config/credentials.yml.enc
*.swp
*.swo
.DS_Store
