@import "tailwindcss";
@source "../../components/**/*.erb";
@source "../../pages/**/*.erb";
@source "../../**/*.js";

@theme {
  --color-brand-50: oklch(0.97 0.03 252);
  --color-brand-500: oklch(0.64 0.16 252);
  --color-brand-700: oklch(0.54 0.16 252);
}

@layer base {
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}
