<article>
  <h1><%= @post.post_title %></h1>
  <div style="color: #666; margin-bottom: 20px;">
    Published on <%= @post.post_date.strftime("%B %d, %Y") %>
  </div>

  <div class="content">
    <%= sanitize(@post.post_content) %>
  </div>
</article>

<div style="margin-top: 40px;">
  <%= link_to "← Back to Home", root_path %>
</div>
